---
import { caps } from "../../data/products.js"; // Import Caps data
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="product-grid">
    <h2>Caps</h2>
    {
      caps.map((product) => (
        <Fragment key={product.id}>
          <div class="product-card">
            <a href={`/products/caps/${product.id}`} class="product-link">
              <img src={product.image} alt={product.name} />
              <div class="product-info">
                <h3>{product.name}</h3>
                <p>${product.price.toFixed(2)}</p>
              </div>
            </a>
          </div>
        </Fragment>
      ))
    }
  </section>
</BaseLayout>
